
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="card-title">Responsive Table</div>
      </div>
      <div class="card-body">
        <!--<div class="card-sub">
          Caption
        </div>-->
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead>
            <tr>
              <th>SL</th>
              <th>Name</th>
              <th>Contact No.</th>
              <th>Email</th>
              <th>Established Year</th>
              <th>Address</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let institute of institutes; let i = index;">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ institute.name || '-' }}</td>
              <td>{{ institute.address || '-' }}</td>
              <td>{{ institute.contactNumber || '-' }}</td>
              <td>{{ institute.email || '-' }}</td>
              <td>{{ institute.establishedYear || '-' }}</td>
              <td>
                <div class="button-group">
                  <button (click)="editInstitute(institute.id)" class="btn btn-warning btn-sm">
                    <i class="fa fa-edit"></i> Edit
                  </button>
                  <button (click)="deleteInstitute(institute.id)" class="btn btn-danger btn-sm">
                    <i class="fa fa-trash"></i> Delete
                  </button>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
