<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="card-title">Enrollment Information</div>
      </div>
      <form (ngSubmit)="submitEnrollment()">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">

              <div [ngClass]="{'has-error': errors.has('student')}" class="form-group">
                <label for="student">Student</label>
                <input class="form-control" name="student" id="student" [value]="enrollment.student.name" readonly type="text"/>
              </div>

              <div [ngClass]="{'has-error': errors.has('feesPaid')}" class="form-group">
                <label for="feesPaid">Fees Paid</label>
                <input class="form-control" name="feesPaid" id="feesPaid" [(ngModel)]="enrollment.feesPaid" type="number"/>
                <small *ngIf="errors.has('feesPaid')" class="form-text text-danger">
                  {{ errors.get('feesPaid') }}
                </small>
              </div>

              <div [ngClass]="{'has-error': errors.has('enrollmentDate')}" class="form-group">
                <label for="enrollmentDate">Enrollment Date</label>
                <input class="form-control" name="enrollmentDate" id="enrollmentDate" [(ngModel)]="enrollment.enrollmentDate" type="date"/>
                <small *ngIf="errors.has('enrollmentDate')" class="form-text text-danger">
                  {{ errors.get('enrollmentDate') }}
                </small>
              </div>

              <div [ngClass]="{'has-error': errors.has('status')}" class="form-group">
                <label for="status">Status</label>
                <select class="form-select" name="status" id="status" [(ngModel)]="enrollment.status">
                  <option *ngFor="let option of statusOptions" [value]="option.value">
                    {{ option.label }}
                  </option>
                </select>
                <small *ngIf="errors.has('status')" class="form-text text-danger">
                  {{ errors.get('status') }}
                </small>
              </div>

            </div>

            <div class="col-md-6">

              <div [ngClass]="{'has-error': errors.has('courses')}" class="form-group">
                <label for="courses">Courses</label>
                <select class="form-select" name="courses" multiple [(ngModel)]="selectedCourses" id="courses">
                  <option *ngFor="let course of courses" [value]="course.id">
                    {{ course.name }}
                  </option>
                </select>
                <small *ngIf="errors.has('courses')" class="form-text text-danger">
                  {{ errors.get('courses') }}
                </small>
              </div>

            </div>
          </div>
        </div>
        <div class="card-action">
          <button class="btn btn-success me-2">
            <span *ngIf="enrollmentId; else save">Update</span>
            <ng-template #save>Save</ng-template>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
