<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="card-title">Department Information</div>
      </div>
      <form (ngSubmit)="submitDepartment()">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">

              <div [ngClass]="{'has-error': errors.has('name')}" class="form-group">
                <label for="name">Name</label>
                <input class="form-control" name="name" id="name" [(ngModel)]="department.name" type="text"/>
                <small *ngIf="errors.has('name')" class="form-text text-danger">
                  {{ errors.get('name') }}
                </small>
              </div>

              <div [ngClass]="{'has-error': errors.has('head')}"
                   class="form-group">
                <label for="head">Head</label>
                <select class="form-select" name="head" [(ngModel)]="department.head.id" id="head">
                  <option value="undefined" disabled>Select Head</option>
                  <option *ngFor="let user of users" [value]="user.id">
                    {{ user.name }}
                  </option>
                </select>
                <small *ngIf="errors.has('head')" class="form-text text-danger">
                  {{ errors.get('head') }}
                </small>
              </div>

              <div [ngClass]="{'has-error': errors.has('faculty')}"
                   class="form-group">
                <label for="faculty">Faculty</label>
                <select class="form-select" name="facultyId" [(ngModel)]="department.faculty.id" id="faculty">
                  <option value="undefined" disabled>Select Faculty</option>
                  <option *ngFor="let faculty of faculties" [value]="faculty.id">
                    {{ faculty.name }}
                  </option>
                </select>
                <small *ngIf="errors.has('faculty')" class="form-text text-danger">
                  {{ errors.get('faculty') }}
                </small>
              </div>
            </div>
          </div>
        </div>
        <div class="card-action">
          <button class="btn btn-success me-2">
            <span *ngIf="departmentId; else save">Update</span>
            <ng-template #save>Save</ng-template>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
