<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="card-title">Enter Department Information</div>
      </div>
      <form (ngSubmit)="createOrUpdateDepartment()" method="post">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div [ngClass]="{'has-error': errors['name']}" class="form-group">
                <label for="name">Name</label>
                <input [(ngModel)]="department.name" class="form-control" id="name" name="name" type="text"/>
                <small *ngIf="errors['name']" class="form-text text-danger">{{ errors['name'] }}</small>
              </div>

              <div [ngClass]="{'has-error': errors['head']}" class="form-group">
                <label for="head">Head</label>
                <ng-select
                  [(ngModel)]="department.head.id"
                  [items]="headOptions"
                  bindLabel="name"
                  bindValue="id"
                  placeholder="Select Head"
                  [searchable]="true"
                  id="head"
                  name="head">
                </ng-select>
                <small *ngIf="errors['head']" class="form-text text-danger">{{ errors['head'] }}</small>
              </div>

              <div [ngClass]="{'has-error': errors['faculty']}" class="form-group">
                <label for="faculty">Faculty</label>
                <ng-select
                  [(ngModel)]="department.faculty.id"
                  [items]="facultyOptions"
                  bindLabel="name"
                  bindValue="id"
                  placeholder="Select Faculty"
                  [searchable]="true"
                  id="faculty"
                  name="faculty">
                </ng-select>
                <small *ngIf="errors['faculty']" class="form-text text-danger">{{ errors['faculty'] }}</small>
              </div>
            </div>
          </div>
        </div>
        <div class="card-action">
          <button class="btn btn-success me-2">
            <span *ngIf="department.id; else save">Update</span>
            <ng-template #save>Save</ng-template>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
