<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div *ngIf="journalEntries.length === 0">
          <p>No journal entries found.</p>
        </div>
        <div *ngIf="journalEntries.length > 0" class="table-responsive">
          <table class="display table table-striped table-hover">
            <thead>
            <tr>
              <th>Date</th>
              <th>Account Name</th>
              <th>Description</th>
              <th>Debit</th>
              <th>Credit</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let entry of journalEntries; let i = index">
              <td *ngIf="i % 2 == 0">{{ parseDate(entry.date) | date: 'short' }}</td>
              <td *ngIf="i % 2 != 0"></td>
              <td>{{ entry.accountName }}</td>
              <td>{{ entry.description }}</td>
              <td>{{ entry.debit | tkCurrency }}</td>
              <td>{{ entry.credit | tkCurrency }}</td>
            </tr>
            <tr>
              <td colspan="3"><strong>Grand Total</strong></td>
              <td><strong>{{ getTotalDebit() | tkCurrency }}</strong></td>
              <td><strong>{{ getTotalCredit() | tkCurrency }}</strong></td>
            </tr>
            <tr>
              <td colspan="5" [ngClass]="{'bg-success': isEqual(), 'bg-danger': !isEqual()}">
                <strong>{{ isEqual() ? 'BALANCE IS EQUAL' : 'BALANCE IS NOT EQUAL' }}</strong>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
