<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="display table table-striped table-hover">
            <thead>
            <tr>
              <th class="col-md-1">SL</th>
              <th>ID Number</th>
              <th>Name</th>
              <th>Contact No.</th>
              <th>Email</th>
              <th>Semester</th>
              <th>Status</th>
              <th class="text-center col-md-1">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let student of filteredStudents(); let i = index;">
              <td>{{ i + 1 }}</td>
              <td>{{ student.idNo || '-' }}</td>
              <td>{{ student.name || '-' }}</td>
              <td>{{ student.cell || '-' }}</td>
              <td>{{ student.email || '-' }}</td>
              <td>{{ student.semester.name || '-' }} ({{ student.semester.session || '-' }})</td>
              <td>
                <ng-container *ngIf="student.status === 'Active'; else inactive">
                  <div class="badge badge-success">{{ student.status || '-' }}</div>
                </ng-container>
                <ng-template #inactive>
                  <div class="badge badge-danger">{{ student.status || '-' }}</div>
                </ng-template>
              </td>
              <td>
                <div class="form-button-action">
                  <button (click)="openFeeModal(student.semester)" class="btn btn-primary btn-sm" title="Fee"
                          type="button">
                    Fee
                  </button>
                  <button [routerLink]="['/student-view', student.id]" class="btn btn-link btn-primary btn-lg"
                          title="View"
                          type="button">
                    <i class="fa fa-eye"></i>
                  </button>
                  <button [routerLink]="['/student-form', student.id]" class="btn btn-link btn-primary btn-lg"
                          title="Edit" type="button">
                    <i class="fa fa-edit"></i>
                  </button>
                  <button (click)="deleteStudent(student.id)" class="btn btn-link btn-danger" title="Delete"
                          type="button">
                    <i class="fa fa-times"></i>
                  </button>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #feeModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Fees</h4>
    <button type="button" class="btn-close" (click)="modal.dismiss('cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <table>
        <thead>
        <tr>
          <th>Type</th>
          <th>Due Amount</th>
          <th>Paid Amount</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let fee of fees; let i = index">
          <td>
            <input
              [(ngModel)]="fee.type"
              [ngModelOptions]="{standalone: true}"
              class="form-control me-2"
              type="text"
              placeholder="Type"
              [disabled]="true"/>
          </td>
          <td>
            <input
              [(ngModel)]="fee.amount"
              [ngModelOptions]="{standalone: true}"
              class="form-control me-2"
              type="number"
              placeholder="Amount"
              [disabled]="true"/>
          </td>
          <td>
            <input
              [(ngModel)]="fee.amount"
              [ngModelOptions]="{standalone: true}"
              class="form-control me-2"
              type="number"
              placeholder="Paid Amount"
              required/>
          </td>
        </tr>
        </tbody>
      </table>
      <br>
      <button type="button" class="ms-2 btn btn-success pull-right" (click)="modal.close()">Pay</button>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss('cancel')">Cancel</button>
  </div>
</ng-template>
