<!-- app.component.html -->
<div class="wrapper">
  <ng-container *ngIf="authService.isAuthenticated$ | async">
    <app-sidebar></app-sidebar>
    <div class="main-panel">
      <app-header></app-header>
      <div class="container">
        <div class="page-inner">
          <div class="page-header">
            <h3 class="fw-bold mb-3">{{ pageTitle }}</h3>
            <!--<ul class="breadcrumbs mb-3">
              <li class="nav-home">
                <a href="#">
                  <i class="icon-home"></i>
                </a>
              </li>
              <li class="separator">
                <i class="icon-arrow-right"></i>
              </li>
              <li class="nav-item">
                <a href="#">Tables</a>
              </li>
              <li class="separator">
                <i class="icon-arrow-right"></i>
              </li>
              <li class="nav-item">
                <a href="#">Datatables</a>
              </li>
            </ul>-->
          </div>

          <router-outlet></router-outlet>
        </div>
      </div>
      <app-footer></app-footer>
    </div>
  </ng-container>
  <ng-container *ngIf="!(authService.isAuthenticated$ | async)">
    <router-outlet></router-outlet>
  </ng-container>
</div>
