<div class="row">
  <div class="col-md-12 mb-2">
    <div class="pull-left">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          [(ngModel)]="searchTerm"
          placeholder="Filter..."
        />
      </div>
    </div>
    <div class="pull-right">
      <button class="btn btn-success" [routerLink]="['/semester-form']">
        <i class="fa fa-plus"></i> Add New
      </button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="display table table-striped table-hover">
            <thead>
            <tr>
              <th class="col-md-1">SL</th>
              <th>Name</th>
              <th>Session</th>
              <th>Code</th>
              <th>Program</th>
              <th class="text-center col-md-1">Action</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let session of (filteredSemesters() | keyvalue)">
              <tr>
                <td colspan="6" class="bg-secondary text-white">{{ session.key }}</td>
              </tr>
              <tr *ngFor="let semester of session.value; let i = index;">
                <td>{{ i + 1 }}</td>
                <td>{{ semester.name || '-' }}</td>
                <td>{{ semester.session || '-' }}</td>
                <td>{{ semester.code || '-' }}</td>
                <td>{{ semester.program.name || '-' }}</td>
                <td>
                  <div class="form-button-action">
                    <button (click)="openFeeModal(semester)" class="btn btn-primary btn-sm" title="Fee" type="button">
                      Fee
                    </button>
                    <button [routerLink]="['/semester-form', semester.id]" class="btn btn-link btn-primary btn-lg" title="Edit" type="button">
                      <i class="fa fa-edit"></i>
                    </button>
                    <button (click)="deleteSemester(semester.id)" class="btn btn-link btn-danger" title="Delete" type="button">
                      <i class="fa fa-times"></i>
                    </button>
                  </div>
                </td>
              </tr>
            </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #feeModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Add Fees</h4>
    <button type="button" class="btn-close" (click)="modal.dismiss('cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div *ngFor="let fee of fees; let i = index" class="d-flex mb-2">
        <ng-select
          [(ngModel)]="fee.type"
          [ngModelOptions]="{standalone: true}"
          [items]="feeTypeOptions"
          bindLabel="label"
          bindValue="value"
          placeholder="Select Fee Type"
          class="me-2"
          required>
        </ng-select>
        <input
          [(ngModel)]="fee.amount"
          [ngModelOptions]="{standalone: true}"
          class="form-control me-2"
          type="number"
          placeholder="Amount"
          required />
        <button type="button" class="btn btn-danger" (click)="removeFee(i)">Remove</button>
      </div>
      <button type="button" class="btn btn-secondary" (click)="addFee()">Add Another Fee</button>
      <!--<button type="button" class="btn btn-success" (click)="saveFees()">Save</button>-->
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss('cancel')">Close</button>
  </div>
</ng-template>
