<div class="row">
  <div class="col-md-12 mb-2">
    <div class="pull-left">
      <div class="form-group">
        <input
          [(ngModel)]="searchTerm"
          class="form-control"
          placeholder="Filter..."
          type="text"
        />
      </div>
    </div>
    <div class="pull-right">
      <button [routerLink]="['/semester-form']" class="btn btn-success">
        <i class="fa fa-plus"></i> Add New
      </button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="display table table-striped table-hover">
            <thead>
            <tr>
              <th class="col-md-1">SL</th>
              <th>Name</th>
              <th>Session</th>
              <th>Code</th>
              <th>Program</th>
              <th class="text-center col-md-1">Action</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let session of (filteredSemesters() | keyvalue)">
              <tr>
                <td class="bg-secondary text-white" colspan="6">{{ session.key }}</td>
              </tr>
              <tr *ngFor="let semester of session.value; let i = index;">
                <td>{{ i + 1 }}</td>
                <td>{{ semester.name || '-' }}</td>
                <td>{{ semester.session || '-' }}</td>
                <td>{{ semester.code || '-' }}</td>
                <td>{{ semester.program.name || '-' }}</td>
                <td>
                  <div class="form-button-action">
                    <button (click)="openFeeModal(semester)" class="btn btn-primary btn-sm" title="Fee" type="button">
                      Fee
                    </button>
                    <button [routerLink]="['/semester-form', semester.id]" class="btn btn-link btn-primary btn-lg"
                            title="Edit" type="button">
                      <i class="fa fa-edit"></i>
                    </button>
                    <button (click)="deleteSemester(semester.id)" class="btn btn-link btn-danger" title="Delete"
                            type="button">
                      <i class="fa fa-times"></i>
                    </button>
                  </div>
                </td>
              </tr>
            </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #feeModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Add Fees</h4>
    <button (click)="modal.dismiss('cross click')" class="btn-close" type="button"></button>
  </div>
  <div class="modal-body">
    <form>
      <div *ngIf="fees.length === 0; else feeTable">
        No Fee Added
      </div>
      <ng-template #feeTable>
        <table>
          <thead>
          <tr>
            <th>Type</th>
            <th>Amount</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let fee of fees; let i = index">
            <td>
              <ng-select
                [(ngModel)]="fee.type"
                [items]="feeTypeOptions"
                [ngModelOptions]="{standalone: true}"
                bindLabel="label"
                bindValue="value"
                class="me-2"
                placeholder="Select Fee Type"
                required>
              </ng-select>
            </td>
            <td>
              <input
                [(ngModel)]="fee.amount"
                [ngModelOptions]="{standalone: true}"
                class="form-control me-2"
                placeholder="Amount"
                required
                type="number"/>
            </td>
          </tr>
          </tbody>
        </table>
      </ng-template>
      <br>
      <button (click)="addFee()" class="btn btn-secondary" type="button">Add Another Fee</button>
      <button *ngIf="fees.length > 0;" (click)="modal.close()" class="ms-2 btn btn-success" type="button">Save</button>
    </form>
  </div>
  <div class="modal-footer">
    <button (click)="modal.dismiss('cancel')" class="btn btn-secondary" type="button">Cancel</button>
  </div>
</ng-template>

