<div class="row">
  <div class="col-md-12 mb-2">
    <div class="pull-right">
      <button *ngIf="student" class="btn btn-info" [routerLink]="['/student-form', student.id]">
        <i class="fa fa-edit"></i> Edit
      </button>
    </div>
  </div>
</div>

<div *ngIf="student; else loadingOrError" class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="card-title">User Profile</div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4 text-center"> <!--TODO dynamic server url-->
            <img *ngIf="student.avatar" src="http://localhost/{{student.avatar}}" class="img-fluid rounded-circle" alt="User Avatar">
            <div *ngIf="!student.avatar" class="placeholder-avatar">No Avatar</div>
          </div>
          <div class="col-md-4">
            <dl class="row">
              <dt class="col-sm-4">Name:</dt>
              <dd class="col-sm-8">{{ student.name }}</dd>

              <dt class="col-sm-4">ID No:</dt>
              <dd class="col-sm-8">{{ student.idNo }}</dd>

              <dt class="col-sm-4">Cell:</dt>
              <dd class="col-sm-8">{{ student.cell }}</dd>

              <dt class="col-sm-4">Email:</dt>
              <dd class="col-sm-8">{{ student.email }}</dd>

              <dt class="col-sm-4">Gender:</dt>
              <dd class="col-sm-8">{{ student.gender }}</dd>

              <dt class="col-sm-4">Status:</dt>
              <dd class="col-sm-8">
                <div [ngClass]="{'badge-success': student.status === 'Active', 'badge-danger': student.status !== 'Active'}" class="badge">
                  {{ student.status }}
                </div>
              </dd>

              <dt class="col-sm-4">Date of Birth:</dt>
              <dd class="col-sm-8">{{ student.dateOfBirth | date }}</dd>

              <dt class="col-sm-4">Blood Group:</dt>
              <dd class="col-sm-8">{{ student.bloodGroup }}</dd>

              <dt class="col-sm-4">Joining Date:</dt>
              <dd class="col-sm-8">{{ student.admissionDate | date }}</dd>

              <dt class="col-sm-4">Religion:</dt>
              <dd class="col-sm-8">{{ student.religion }}</dd>
            </dl>
          </div>
          <div class="col-md-4">
            <dl class="row">
              <dt class="col-sm-4">Father's Name:</dt>
              <dd class="col-sm-8">{{ student.fatherName }}</dd>

              <dt class="col-sm-4">Father's Cell:</dt>
              <dd class="col-sm-8">{{ student.fatherCell }}</dd>

              <dt class="col-sm-4">Mother's Name:</dt>
              <dd class="col-sm-8">{{ student.motherName }}</dd>

              <dt class="col-sm-4">Mother's Cell:</dt>
              <dd class="col-sm-8">{{ student.motherCell }}</dd>

              <dt class="col-sm-4">Present Address:</dt>
              <dd class="col-sm-8">{{ student.presentAddress }}</dd>

              <dt class="col-sm-4">Permanent Address:</dt>
              <dd class="col-sm-8">{{ student.permanentAddress }}</dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loadingOrError>
  <div class="alert alert-warning">Loading student information or an error occurred.</div>
</ng-template>
