<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table
            class="display table table-striped table-hover"
            id="add-row"
          >
            <thead>
            <th class="col-md-1">SL</th>
            <th>Name</th>
            <th>Contact No.</th>
            <th>Address</th>
            <th>Status</th>
            <th class="text-center col-md-1">Action</th>
            </thead>
            <tbody>
            <tr *ngFor="let user of users; let i = index;">
              <td>{{ i + 1 }}</td>
              <td>{{ user.getFullName() || '-' }}</td>
              <td>{{ user.cell || '-' }}</td>
              <td>{{ user.address || '-' }}</td>
              <td>
                <ng-container *ngIf="user.status === 'Active'; else inactive">
                  <div class="badge badge-success">{{ user.status || '-' }}</div>
                </ng-container>
                <ng-template #inactive>
                  <div class="badge badge-danger">{{ user.status || '-' }}</div>
                </ng-template>
              </td>
              <td>
                <div class="form-button-action">
                  <button
                    class="btn btn-link btn-primary btn-lg"
                    data-bs-toggle="tooltip"
                    data-original-title="Edit Task"
                    title=""
                    type="button"
                  >
                    <i class="fa fa-edit"></i>
                  </button>
                  <button
                    class="btn btn-link btn-danger"
                    data-bs-toggle="tooltip"
                    data-original-title="Remove"
                    title=""
                    type="button"
                  >
                    <i class="fa fa-times"></i>
                  </button>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
