<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table
            class="display table table-striped table-hover"
            id="add-row"
          >
            <thead>
            <th class="col-md-1">SL</th>
            <th></th>
            <th>Name</th>
            <th>Contact No.</th>
            <th>Email</th>
            <th class="text-center col-md-1">Status</th>
            <th class="text-center col-md-1">Action</th>
            </thead>
            <tbody>
            <tr *ngFor="let user of users; let i = index;">
              <td>{{ i + 1 }}</td>
              <td>
                <div class="avatar">
                  <img [src]="user.avatar" alt="Avatar" class="avatar-img rounded">
                </div>
              </td>
              <td>{{ user.name || '-' }}</td>
              <td>{{ user.cell || '-' }}</td>
              <td>{{ user.email || '-' }}</td>
              <td>
                <ng-container *ngIf="user.status === 'Active'; else inactive">
                  <div class="badge badge-success">{{ user.status || '-' }}</div>
                </ng-container>
                <ng-template #inactive>
                  <div class="badge badge-danger">{{ user.status || '-' }}</div>
                </ng-template>
              </td>
              <td>
                <div class="form-button-action">
                  <button [routerLink]="['/user-update', user.id]" class="btn btn-link btn-primary btn-lg" title="Edit" type="button">
                    <i class="fa fa-edit"></i>
                  </button>
                  <button (click)="deleteUser(user.id)" class="btn btn-link btn-danger" title="Delete" type="button">
                    <i class="fa fa-times"></i>
                  </button>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
