<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="card-title">Enter Semester Information</div>
      </div>
      <form (ngSubmit)="createOrUpdateSemester()" method="post">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div [ngClass]="{'has-error': errors['name']}" class="form-group">
                <label for="name">Name</label>
                <input [(ngModel)]="semester.name" class="form-control" id="name" name="name" type="text"/>
                <small *ngIf="errors['name']" class="form-text text-danger">{{ errors['name'] }}</small>
              </div>

              <div [ngClass]="{'has-error': errors['session']}" class="form-group">
                <label for="session">Session</label>
                <input [(ngModel)]="semester.session" class="form-control" id="session" name="session" type="text"/>
                <small *ngIf="errors['session']" class="form-text text-danger">{{ errors['session'] }}</small>
              </div>

              <div [ngClass]="{'has-error': errors['code']}" class="form-group">
                <label for="code">Code</label>
                <input [(ngModel)]="semester.code" class="form-control" id="code" name="code" type="text"/>
                <small *ngIf="errors['code']" class="form-text text-danger">{{ errors['code'] }}</small>
              </div>

              <div [ngClass]="{'has-error': errors['program']}" class="form-group">
                <label for="program">Program</label>
                <ng-select
                  [(ngModel)]="semester.program.id"
                  [items]="programOptions"
                  bindLabel="name"
                  bindValue="id"
                  placeholder="Select Program"
                  [searchable]="true"
                  id="program"
                  name="program">
                </ng-select>
                <small *ngIf="errors['program']" class="form-text text-danger">{{ errors['program'] }}</small>
              </div>
            </div>
          </div>
        </div>
        <div class="card-action">
          <button class="btn btn-success me-2">
            <span *ngIf="semester.id; else save">Update</span>
            <ng-template #save>Save</ng-template>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
