<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="card-title">Enter Program Information</div>
      </div>
      <form (ngSubmit)="createOrUpdateProgram()" method="post">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div [ngClass]="{'has-error': errors['name']}" class="form-group">
                <label for="name">Name</label>
                <input [(ngModel)]="program.name" class="form-control" id="name" name="name" type="text"/>
                <small *ngIf="errors['name']" class="form-text text-danger">{{ errors['name'] }}</small>
              </div>

              <div [ngClass]="{'has-error': errors['durationYear']}" class="form-group">
                <label for="durationYear">Duration (Years)</label>
                <input [(ngModel)]="program.durationYear" class="form-control" id="durationYear" name="durationYear" type="number"/>
                <small *ngIf="errors['durationYear']" class="form-text text-danger">{{ errors['durationYear'] }}</small>
              </div>

              <div [ngClass]="{'has-error': errors['department']}" class="form-group">
                <label for="department">Department</label>
                <ng-select
                  [(ngModel)]="program.department.id"
                  [items]="departmentOptions"
                  bindLabel="name"
                  bindValue="id"
                  placeholder="Select Department"
                  [searchable]="true"
                  id="department"
                  name="department">
                </ng-select>
                <small *ngIf="errors['department']" class="form-text text-danger">{{ errors['department'] }}</small>
              </div>
            </div>
          </div>
        </div>
        <div class="card-action">
          <button class="btn btn-success me-2">
            <span *ngIf="program.id; else save">Update</span>
            <ng-template #save>Save</ng-template>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
